@charset "UTF-8";
html,

body {
    text-align: center;
    font: 100% DroidSerif, Georgia, "Times New Roman", Times, serif;
    background: #3C6B92;
    background: -moz-linear-gradient(top, #3c6b92 15%, #e1d8b9 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #3c6b92), color-stop(90%, #e1d8b9));
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3c6b92', endColorstr='#e1d8b9', GradientType=0);
    margin: 0;
}
 
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  .register_container{
      width: 50%;
      box-sizing: border-box;
      display: inline-block;

  }
.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 50px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signup {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 50px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}

button:hover {
    opacity: 0.8;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.logo {
    width: 20%;
    border-radius: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: middle;
    padding-top: 16px;
}
/* home css*/
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}