{% extends 'layout.html'%}

{% block body%}
      <form id="login_form" class="form-signin" method="post">
          <h3 class="form-signin-heading"><i class="icon-lock"></i> Offer ride</h3>
          <hr>
          <p>Please fill in this form to offer a ride.</p>
          <label for="origin"><b>Origin</b></label>
          <input type="text" name="origin" placeholder="Enter ride origin" >
          <label for="dest"><b>Destination</b></label>
          <input type="text" name="destination" placeholder="Enter the destination" >
          <label for="cost"><b>Cost</b></label>
          <input type="text" name="cost" placeholder="Enter the cost" >
          <label for="departure_time"><b>Departure Time</b></label>
          <br>
          <input type="datetime-local" name="date"  />
          <hr>
          <div class="card_title">
              <a href="#" class="acceptbtn">Add Ride </a>
              <a href="/riderequests" class="cancelbtn">Cancel</a>              
          </div>
          
      </form>
{% endblock %}