<!DOCTYPE html>
<html>
  <head>
    <title>Ride My Way</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-16x16.png">
    <link rel = "stylesheet" type = "text/css" href = "../css/main.css"/>
    <link rel = "stylesheet" type = "text/css" href = "../css/request.css"/>
  </head>
  <body>
      <div class="top-container">
          <div class="imgcontainer">
            <img src="../images/logo.png" alt="logo" class="logo">
          </div>
        <h2>Ride My Way</h2>
      </div>
      <div class="header" id="myHeader">
        <div class="topnav">          
          <a href="#" class="info" onclick="launch_notification()">15</a>
          <div class="topnav-right">
            <a href="login.html">Logout</a>
          </div>
        </div>
      </div>

    <div class="content">
        <form id="login_form" class="form-signin" method="post">
            <h3 class="form-signin-heading"><i class="icon-lock"></i> Offer ride</h3>
            <hr>
            <p>Please fill in this form to offer a ride.</p>
            <label for="origin"><b>Origin</b></label>
            <input type="text" name="origin" placeholder="Enter ride origin" >
            <label for="dest"><b>Destination</b></label>
            <input type="text" name="destination" placeholder="Enter the destination" >
            <label for="cost"><b>Cost</b></label>
            <input type="text" name="cost" placeholder="Enter the cost" >
            <label for="departure_time"><b>Departure Time</b></label>
            <br>
            <input type="datetime-local" name="date"  />
            <hr>
            <div class="card_title">
                <a href="index.html" class="acceptbtn">Add Ride </a>
                <a href="index.html" class="cancelbtn">Cancel</a>              
            </div>
            
        </form>
        
    </div>        
    
  <script src="../js/javaScript.js"></script>
  <div id="footer">

  </div>
  
</body>
</html>