<!DOCTYPE html>
<html>
  <head>
    <title>Ride My Way</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-16x16.png">
    <link rel = "stylesheet" type = "text/css" href = "../static/css/main.css"/>
    <link rel = "stylesheet" type = "text/css" href = "../static/css/request.css"/>
  </head>
  <body>
      <div class="top-container">
          <div class="imgcontainer">
            <img src="images/logo.png" alt="logo" class="logo">
          </div>
        <h2>Ride My Way</h2>
      </div>
      <div class="header" id="myHeader">
        <div class="topnav">          
          <a href="#" class="info" onclick="launch_notification()">15</a>
          <div class="topnav-right">
            <a href="register.html">Signup</a>
            <a href="login.html">Login</a>
          </div>
        </div>
      </div>
      <!--container for main content just below the header-->
      <div class="container">
        <!--Profile bar-->
          <article>
              <div class="card-header">
                <img class="profile-photo" src="images/profile.jpg" alt="profile">
                <a href="/index"><button type="button">GIO</button></a>
              </div>
              <ul class="card-links">
                <a href="availableRides.html">
                    <li>
                        <i class="icon icon-list-alt"></i><span class="label">Avialable Rides</span><span class="label-notification label-active">44</span>
                    </li>
                </a>
                <a href="rideRequests.html">
                  <li>
                    <i class="icon icon-list-alt"></i><span class="label">Ride Requests</span><span class="label-notification label-active">44</span>
                  </li>
                </a>
                <hr>
                <a href="#">
                  <li>
                    <i class="icon icon-time"></i><span class="label">Rides Given</span><span class="label-notification label-active">25</span>
                  </li>
                </a>
                <hr>
                <a href="#">
                    <li>
                      <i class="icon icon-time"></i><span class="label">Rides Taken</span><span class="label-notification label-active">20</span>
                    </li>
                  </a>
                  <hr>
                <a href="#">
                  <li class="link-favorites">
                    <i class="icon icon-heart"></i><span class="label">Rides Rejected</span><span class="label-notification">174</span>
                  </li>
                </a>
              </ul>
            </article>
            <!--End of profile-->
            <div id="notice">
                    <div id="img">GIO</div>
                    <div id="desc">From Kampala to the World...</div>
                </div>
        <div class="container">
            <div class="column_middle">
                <!-- Requestrides-->
                <div class="rideRequest rideRequest--small">
                    <div class="rideRequest__image"></div>
                        <h2 class="rideRequest__title">Ride of a Century</h2>
                            <span class="rideRequest__subtitle">By Gabriel Innocent (GIO)</span>
                        <p class="rideRequest__text">
                            Located two hours south of Sydney in the Southern Highland of New South Wales...
                        </p>
                        <div class="rideRequest__action-bar">
                            <p>
                                <a href="#" class="acceptbtn">View  </a>
                                <a href="/index" class="acceptbtn">Accept </a>
                                <a href="#" class="cancelbtn">Reject</a>                
                            </p>
                    </div>
                </div>
                <div class="rideRequest rideRequest--small">
                        <div class="rideRequest__image"></div>
                            <h2 class="rideRequest__title">Ride of a Century</h2>
                                <span class="rideRequest__subtitle">By Gabriel Innocent (GIO)</span>
                            <p class="rideRequest__text">
                                Located two hours south of Sydney in the Southern Highland of New South Wales...
                            </p>
                            <div class="rideRequest__action-bar">
                                    <p>
                                            <a href="#" class="acceptbtn">View  </a>
                                            <a href="/index" class="acceptbtn">Accept </a>
                                            <a href="#" class="cancelbtn">Reject</a>                
                                        </p>
                        </div>
                </div>
                <div class="rideRequest rideRequest--small">
                        <div class="rideRequest__image"></div>
                            <h2 class="rideRequest__title">Ride of a Century</h2>
                                <span class="rideRequest__subtitle">By Gabriel Innocent (GIO)</span>
                            <p class="rideRequest__text">
                                Located two hours south of Sydney in the Southern Highland of New South Wales...
                            </p>
                            <div class="rideRequest__action-bar"><p>
                                    <a href="#" class="acceptbtn">View  </a>
                                    <a href="/index" class="acceptbtn">Accept </a>
                                    <a href="#" class="cancelbtn">Reject</a>                
                                </p>
                            
                        </div>
                </div>
            </div>
        </div>
      <script src="js/javaScript.js"></script>
    </body>
</html>