<!DOCTYPE html>
<html>
  <head>
    <title>Ride My Way</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-16x16.png">
    <link rel = "stylesheet" type = "text/css" href = "../css/main.css"/>
  </head>
  <body>
      <div class="top-container">
          <div class="imgcontainer">
            <img src="../images/logo.png" alt="logo" class="logo">
          </div>
        <h2>Ride My Way</h2>
      </div>
      <div class="header" id="myHeader">
        <div class="topnav">          
          <a href="#" class="info" onclick="launch_notification()">15</a>
          <div class="topnav-right">
            <a href="../login.html">log out</a>
          </div>
        </div>
      </div>
      <!--container for main content just below the header-->
      <div class="container">
        <!--Profile bar-->
          <div class="column">
              <article>
                  <div class="card-header">
                    <img class="profile-photo" src="../images/profile.jpg" alt="profile">
                    <a href="profile.html"><button type="button">GIO</button></a>
                  </div>
                  <ul class="card-links">
                      <a href="availableRides.html">
                          <li>
                              <span class="label">Avialable Rides</span><span class="label-notification label-active">44</span>
                          </li>
                      </a>
                    <a href="rideRequests.html">
                      <li>
                        <span class="label">Ride Requests</span><span class="label-notification label-active">44</span>
                      </li>
                    </a>
                    <hr>
                    <a href="ridesgiven.html">
                      <li>
                        <span class="label">Rides Given</span><span class="label-notification label-active">25</span>
                      </li>
                    </a>
                    <hr>
                    <a href="ridesTaken.html">
                        <li>
                          <span class="label">Rides Taken</span><span class="label-notification label-active">20</span>
                        </li>
                      </a>
                      <hr>
                    <a href="ridesrejected.html">
                      <li class="link-favorites">
                        <span class="label">Rides Rejected</span><span class="label-notification">174</span>
                      </li>
                    </a>
                  </ul>
                  <div class="card-header">
                    <a href="addride.html"><button type="button">Add Ride</button></a>
                  </div>
                </article>
          </div>
            <!--End of profile-->
            <div id="notice">
                <div id="img">GIO</div>
                <div id="desc">From Kampala to the World...</div>
            </div>
            <div class="wrapper">
                <!--  edit user form-->
                    <!--  -->
                    <br>
                    <br>
                <form class="form-editpass">
                    <label for="current-password">Current Password&#58;</label>
                    <input type="text" class="textbox" id="current-password">
                    <label for="new-password">New Password&#58;</label>
                    <input type="text" class="textbox" id="new-password">
                    <label for="confirm-password">Confirm New Password&#58;</label>
                    <input type="text" class="textbox" id="confirm-password">
                    <a href="#" type="submit"  class="buttonok" value="Change Password">Change Password</a>
                    <a href="#" type="button" class="dangerbtn" value="Cancel">Cancel</a>
                </form>
                <br>
                <br>
          </div>
      </div>
      <script src="js/javaScript.js"></script>     
    </body>
</html>