{% extends 'layout1.html'%}

{% block body%}
<div class="card">
  <p>Welcome GIO</p>
  <p>
    <textarea class="requestArea">               
    </textarea>
  </p>
  <div class="card_title">
      <a href="#" class="acceptbtn">Add Ride </a>
      <a href="#" class="cancelbtn">Cancel</a>              
  </div>
</div>
<div class="card">
    <div class="card_image"></div>
      <h2>Kampala Ride</h2>
    
    <p class="card_title">This is the ride you will ever have for today
      and the one you would to do again.
    </p>
    <div class="card_title">
      <a href="availableRides.html" class="acceptbtn">Accept </a>
      <a href="#" class="cancelbtn">Reject</a>
    </div>                
    
  </div>

<div class="card">
<div class="rideRequest__image"></div>
  <div class="rideRequest__subtitle">
    <h1>Kampala Ride</h1>
    <p class="card_title">From Success to Excellence</p>
    <p>GIO</p> 
    <p>
        <a href="/index" class="acceptbtn">Accept </a>
      <a href="#" class="cancelbtn">Reject</a>                
    </p>
  </div>
</div>

<div class="card">
<h1>Andela Ride</h1>
<p class="card_title">From Success to Excellence</p>
<p>GIO</p>
<p>
  <a href="#" class="acceptbtn">Accept </a>
  <a href="#" class="cancelbtn">Reject</a>                
</p>
</div>
<div class="card">
  <h1>Andela Ride</h1>
  <p class="card_title">From Success to Excellence</p>
  <p>GIO</p> 
  <p>
    <a href="#" class="acceptbtn">Accept </a>
    <a href="#" class="cancelbtn">Reject</a>                
  </p>
</div>
  
<div class="card">
  <h1>Andela Ride</h1>
  <p class="card_title">From Success to Excellence</p>
  <p>GIO</p>
  <p>
    <a href="#" class="acceptbtn">Accept </a>
    <a href="#" class="cancelbtn">Reject</a>                
  </p>
</div>
{% endblock %}