<!DOCTYPE html>
<html>
<head>
  <title>Ride My Way</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-16x16.png">
<link rel = "stylesheet" type = "text/css" href = "../static/css/main.css" />
<link rel = "stylesheet" type = "text/css" href = "../static/css/request.css"/>
</head>
<body>
    <div class="top-container">
        <div class="imgcontainer">
            <img src="../static/images/logo.png" alt="logo" class="logo">
        </div>
    </div>
      <div class="header" id="myHeader">
        <h2>Ride My Way</h2>
      </div>
      <div class="content">
      {% block body %}{% endblock%}
      </div>
    <script src="../static/js/javaScript.js"></script>
</body>
</html>