<!DOCTYPE html>
<html>
<head>
  <title>Ride My Way</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-16x16.png">
<link rel = "stylesheet" type = "text/css" href = "../css/main.css" />
</head>
<body>
    <div class="top-container">
        <div class="imgcontainer">
            <img src="../images/logo.png" alt="logo" class="logo">
        </div>   
    </div>

    <div class="header" id="myHeader">
      <h1>Ride My Way</h1>   
    </div>

    <div class="content">
        <form id="singup_form" action="login.html" class="form-signup" method="post">
            <h3 class="form-signin-heading"><i class="icon-lock"></i> Register</h3>
            <hr>
            <p>Please fill in this form to create an account.</p>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <label for="psw-confirm"><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="psw-confirm" required>
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="registerbtn">Register</button> 
            <div id="container signin">
                    <p>Already have an account? <a href="../login.html">Sign in</a>.</p>
            </div>           
        </form>
        
    </div>        
    
  <script src="js/javaScript.js"></script>
  <div id="footer">

  </div>
  
</body>
</html>