<!DOCTYPE html>
<html>
  <head>
    <title>Ride My Way</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-16x16.png">
    <link rel = "stylesheet" type = "text/css" href = "../css/main.css"/>
  </head>
  <body>
      <div class="top-container">
          <div class="imgcontainer">
            <img src="../images/logo.png" alt="logo" class="logo">
          </div>
        <h2>Ride My Way</h2>
      </div>
      <div class="header" id="myHeader">
        <div class="topnav">          
          <a href="#" class="info" onclick="launch_notification()">15</a>
          <div class="topnav-right">
            <a href="login.html">log out</a>
          </div>
        </div>
      </div>
      <!--container for main content just below the header-->
      <div class="container">
        <!--Profile bar-->
          <div class="column">
              <article>
                  <div class="card-header">
                    <img class="profile-photo" src="../images/profile.jpg" alt="profile">
                    <a href="index.html"><button type="button">GIO</button></a>
                  </div>
                  <ul class="card-links">
                      <a href="availableRides.html">
                          <li>
                              <i class="icon icon-list-alt"></i><span class="label">Avialable Rides</span><span class="label-notification label-active">44</span>
                          </li>
                      </a>
                    <a href="rideRequests.html">
                      <li>
                        <i class="icon icon-list-alt"></i><span class="label">Ride Requests</span><span class="label-notification label-active">44</span>
                      </li>
                    </a>
                    <hr>
                    <a href="#">
                      <li>
                        <i class="ridesgiven.html"></i><span class="label">Rides Given</span><span class="label-notification label-active">25</span>
                      </li>
                    </a>
                    <hr>
                    <a href="#">
                        <li>
                          <i class="ridesTaken.html"></i><span class="label">Rides Taken</span><span class="label-notification label-active">20</span>
                        </li>
                      </a>
                      <hr>
                    <a href="#">
                      <li class="link-favorites">
                        <i class="ridesTaken.html"></i><span class="label">Rides Rejected</span><span class="label-notification">174</span>
                      </li>
                    </a>
                  </ul>
                  <div class="card-header">
                    <a href="addride.html"><button type="button">Add Ride</button></a>
                  </div>
                </article>
          </div>
            <!--End of profile-->
            <div id="notice">
                <div id="img">GIO</div>
                <div id="desc">From Kampala to the World...</div>
            </div>
            <div class="card">
              <table>
                <tr>
                <td><b>ID</b></td>
                <td><b>Driver</b></td>
                <td><b>From</b></td>
                <td><b>To</b></td>
                <td><b>Departure Time</b></td>
                <td colspan="2"><b>Action</b></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Finished </a>
                </p></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Finished </a>
                </p></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Finished </a>
                </p></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Finished </a>
                </p></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Finished </a>
                </p></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                </p></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Finished </a>
                </p></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Finished </a>
                </p></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Finished </a>
                </p></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="cancelbtn">Not Finished </a>
                </p></td>
                </tr>
                <tr>
                  <td>#01</td>
                  <td>Gabriel Okello</td>
                  <td>Kampala</td>
                  <td>Kisaasi</td>
                  <td>12:30 am</td>
                  <td><p>
                    <a href="index.html" class="acceptbtn">Finished </a>  
                  </p></td>
                  </tr>
                  <tr>
                    <td>#01</td>
                    <td>Gabriel Okello</td>
                    <td>Kampala</td>
                    <td>Kisaasi</td>
                    <td>12:30 am</td>
                    <td><p>
                      <a href="index.html" class="cancelbtn">Not Finished </a>    
                    </p></td>
                    </tr>
                    <tr>
                      <td>#01</td>
                      <td>Gabriel Okello</td>
                      <td>Kampala</td>
                      <td>Kisaasi</td>
                      <td>12:30 am</td>
                      <td><p>
                        <a href="index.html" class="acceptbtn">Finished </a>      
                      </p></td>
                      </tr>
                      <tr>
                        <td>#01</td>
                        <td>Gabriel Okello</td>
                        <td>Kampala</td>
                        <td>Kisaasi</td>
                        <td>12:30 am</td>
                        <td><p>
                          <a href="index.html" class="acceptbtn">Finished </a>        
                        </p></td>
                        </tr>
                        <tr>
                          <td>#01</td>
                          <td>Gabriel Okello</td>
                          <td>Kampala</td>
                          <td>Kisaasi</td>
                          <td>12:30 am</td>
                          <td><p>
                            <a href="index.html" class="acceptbtn">Finished </a>          
                          </p></td>
                          </tr>
                          <tr>
                            <td>#01</td>
                            <td>Gabriel Okello</td>
                            <td>Kampala</td>
                            <td>Kisaasi</td>
                            <td>12:30 am</td>
                            <td><p>
                              <a href="/index" class="acceptbtn">Finished </a>            
                            </p></td>
                            </tr>
                </table>
            </div>
        </div>
      <script src="js/javaScript.js"></script>
    </body>
</html>
