<!DOCTYPE html>
<html>
  <head>
    <title>Ride My Way</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-16x16.png">
    <link rel = "stylesheet" type = "text/css" href = "../static/css/main.css"/>
    <link rel = "stylesheet" type = "text/css" href = "../static/css/request.css"/>
  </head>
  <body>
      <div class="top-container">
          <div class="imgcontainer">
            <img src="../static/images/logo.png" alt="logo" class="logo">
          </div>
        <h2>Ride My Way</h2>
      </div>
      <div class="header" id="myHeader">
        <div class="topnav">          
          <a href="#" class="info" onclick="launch_notification()">15</a>
          <div class="topnav-right">
            <a href="/register">Signup</a>
            <a href="/">Login</a>
          </div>
        </div>
      </div>
      <!--container for main content just below the header-->
        <div class="container">
            <!--Profile bar-->
        
          <article>
                <div class="card-header">
                  <img class="profile-photo" src="images/profile.jpg" alt="profile">
                  <a href="home.html"><button type="button">GIO</button></a>
                </div>
                <ul class="card-links">
                    <a href="availableRides.html">
                        <li>
                            <i class="icon icon-list-alt"></i><span class="label">Avialable Rides</span><span class="label-notification label-active">44</span>
                        </li>
                    </a>
                  <a href="rideRequests.html">
                    <li>
                      <i class="icon icon-list-alt"></i><span class="label">Ride Requests</span><span class="label-notification label-active">44</span>
                    </li>
                  </a>
                  <hr>
                  <a href="#">
                    <li>
                      <i class="ridesTaken.html"></i><span class="label">Rides Given</span><span class="label-notification label-active">25</span>
                    </li>
                  </a>
                  <hr>
                  <a href="#">
                      <li>
                        <i class="ridesTaken.html"></i><span class="label">Rides Taken</span><span class="label-notification label-active">20</span>
                      </li>
                    </a>
                    <hr>
                  <a href="#">
                    <li class="link-favorites">
                      <i class="ridesTaken.html"></i><span class="label">Rides Rejected</span><span class="label-notification">174</span>
                    </li>
                  </a>
                </ul>
              </article>
              
              
              <!--End of profile-->
            <div id="notice">
                <div id="img">GIO</div>
                <div id="desc">From Kampala to the World...</div>
            </div>
            <div class="column_middle">
                <!-- Requestrides-->
                <div class="rideRequest rideRequest--small">
                    <div class="rideRequest__image"></div>
                        <h2 class="rideRequest__title">Great Journey to great Programmer</h2>
                            <span class="rideRequest__subtitle">By GIO</span>
                        <p class="rideRequest__text">
                            Where the kings ride to thier desired destination
                        </p>
                        <div class="rideRequest__action-bar">
                          <button class="rideRequest__button">LEARN MORE</button>
                    </div>
                </div>
                <div class="rideRequest rideRequest--small">
                        <div class="rideRequest__image"></div>
                            <h2 class="rideRequest__title">Great Journey to great Programmer</h2>
                                <span class="rideRequest__subtitle">By GIO</span>
                            <p class="rideRequest__text">
                                Where the kings ride to thier desired destination
                            </p>
                            <div class="rideRequest__action-bar">
                              <button class="rideRequest__button">LEARN MORE</button>
                        </div>
                </div>
                <div class="rideRequest rideRequest--small">
                        <div class="rideRequest__image"></div>
                            <h2 class="rideRequest__title">Great Journey to great Programmer</h2>
                                <span class="rideRequest__subtitle">By GIO</span>
                            <p class="rideRequest__text">
                                Where the kings ride to thier desired destination
                            </p>
                            <div class="rideRequest__action-bar">
                              <button class="rideRequest__button">LEARN MORE</button>
                            
                        </div>
                </div>
            </div>
        </div>
      <script src="js/javaScript.js"></script>
    </body>
</html>