{% extends 'layout1.html'%}

{% block body%}
            <div class="card">
              <table>
                <tr>
                <td><b>ID</b></td>
                <td><b>Driver</b></td>
                <td><b>From</b></td>
                <td><b>To</b></td>
                <td><b>Departure Time</b></td>
                <td colspan="2"><b>Action</b></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                  <a href="#" class="cancelbtn">Reject</a>                
                </p></td>
               
                <td><a href="#">delete</a></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                  <a href="#" class="cancelbtn">Reject</a>                
                </p></td>
               
                <td><a href="#">delete</a></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                  <a href="#" class="cancelbtn">Reject</a>                
                </p></td>
               
                <td><a href="#">delete</a></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                  <a href="#" class="cancelbtn">Reject</a>                
                </p></td>
               
                <td><a href="#">delete</a></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                  <a href="#" class="cancelbtn">Reject</a>                
                </p></td>
               
                <td><a href="#">delete</a></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                  <a href="#" class="cancelbtn">Reject</a>                
                </p></td>
               
                <td><a href="#">delete</a></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                  <a href="#" class="cancelbtn">Reject</a>                
                </p></td>
               
                <td><a href="#">delete</a></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                  <a href="#" class="cancelbtn">Reject</a>                
                </p></td>
               
                <td><a href="#">delete</a></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                  <a href="#" class="cancelbtn">Reject</a>                
                </p></td>
               
                <td><a href="#">delete</a></td>
                </tr>
                <tr>
                <td>#01</td>
                <td>Gabriel Okello</td>
                <td>Kampala</td>
                <td>Kisaasi</td>
                <td>12:30 am</td>
                <td><p>
                  <a href="/index" class="acceptbtn">Accept </a>
                  <a href="#" class="cancelbtn">Reject</a>                
                </p></td>
               
                <td><a href="#">delete</a></td>
                </tr>
                <tr>
                  <td>#01</td>
                  <td>Gabriel Okello</td>
                  <td>Kampala</td>
                  <td>Kisaasi</td>
                  <td>12:30 am</td>
                  <td><p>
                    <a href="home.html" class="acceptbtn">Accept </a>
                    <a href="#" class="cancelbtn">Reject</a>                
                  </p></td>
                 
                  <td><a href="#">delete</a></td>
                  </tr>
                  <tr>
                    <td>#01</td>
                    <td>Gabriel Okello</td>
                    <td>Kampala</td>
                    <td>Kisaasi</td>
                    <td>12:30 am</td>
                    <td><p>
                      <a href="home.html" class="acceptbtn">Accept </a>
                      <a href="#" class="cancelbtn">Reject</a>                
                    </p></td>
                   
                    <td><a href="#">delete</a></td>
                    </tr>
                    <tr>
                      <td>#01</td>
                      <td>Gabriel Okello</td>
                      <td>Kampala</td>
                      <td>Kisaasi</td>
                      <td>12:30 am</td>
                      <td><p>
                        <a href="home.html" class="acceptbtn">Accept </a>
                        <a href="#" class="cancelbtn">Reject</a>                
                      </p></td>
                     
                      <td><a href="#">delete</a></td>
                      </tr>
                      <tr>
                        <td>#01</td>
                        <td>Gabriel Okello</td>
                        <td>Kampala</td>
                        <td>Kisaasi</td>
                        <td>12:30 am</td>
                        <td><p>
                          <a href="home.html" class="acceptbtn">Accept </a>
                          <a href="#" class="cancelbtn">Reject</a>                
                        </p></td>
                       
                        <td><a href="#">delete</a></td>
                        </tr>
                        <tr>
                          <td>#01</td>
                          <td>Gabriel Okello</td>
                          <td>Kampala</td>
                          <td>Kisaasi</td>
                          <td>12:30 am</td>
                          <td><p>
                            <a href="home.html" class="acceptbtn">Accept </a>
                            <a href="#" class="cancelbtn">Reject</a>                
                          </p></td>
                         
                          <td><a href="#">delete</a></td>
                          </tr>
                          <tr>
                            <td>#01</td>
                            <td>Gabriel Okello</td>
                            <td>Kampala</td>
                            <td>Kisaasi</td>
                            <td>12:30 am</td>
                            <td><p>
                              <a href="/index" class="acceptbtn">Accept </a>
                              <a href="#" class="cancelbtn">Reject</a>                
                            </p></td>
                           
                            <td><a href="#">delete</a></td>
                            </tr>
                </table>
            </div>
            {% endblock %}